.heading{
    font-size: 42px;
    font-weight: 700;
    color: #01fb54;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2%;
    padding: 2px;    
}
.description{
    font-size: 18px;
    font-weight: 700;
    color: #e1e8e3;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2%;
    padding: 2px;    
}